<a class="btn btn-secondary" [routerLink]="['/home']">Volver</a>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" formControlName="name">
    <div class="alert alert-danger" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      El nombre es requerido
    </div>
  </div>

  <br />
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
</form>