<!--Contacto-->
<section>
    <div class="jumbotron jumbotron-fluid jumbo-bg-2">
      <div class="container">
        <h1 class="jumbo-title text-center">Contactos</h1>
      </div>
    </div>
  
    <!--Section: Contact-->
    <section class="container">
      <form method="post" action="">
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">
          Tienes alguna pregunta? Por favor no dudes en contactarnos de forma
          directa a través de cualquier medio de comunicación.
        </p>
  
        <div class="row">
          <!--Grid column-->
          <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" method="POST">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="nombre"
                      name="nombre"
                      value=""
                      class="form-control"
                    />
                    <label for="name" class="">Tu nombre</label>
                  </div>
                </div>
                <!--Grid column-->
  
                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="apellido"
                      name="apellido"
                      value=""
                      class="form-control"
                    />
                    <label for="apellido" class="">Tu apellido</label>
                  </div>
                </div>
                <!--Grid column-->
  
                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="tel"
                      id="telefono"
                      name="telefono"
                      class="form-control"
                    />
                    <label for="telefono" class="">Tu telefono</label>
                  </div>
                </div>
                <!--Grid column-->
  
                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="email"
                      name="email"
                      value=""
                      class="form-control"
                    />
                    <label for="email" class="">Tu e-mail</label>
                  </div>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
  
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12">
                  <div class="md-form text-center">
                    <textarea
                      type="text "
                      id="consulta"
                      name="consulta"
                      rows="2"
                      class="form-control md-textarea"
                    ></textarea>
                    <label for="message">Tu mensaje</label>
                  </div>
                </div>
              </div>
              <!--Grid row-->
            </form>
  
            <div class="text-center text-md-left">
              &nbsp;
              <button class="btn btn-ultra-voilet btn-block" type="submit">
                Enviar
              </button>
              <button type="reset" class="btn btn-purple-moon btn-block">
                Limpiar
              </button>
            </div>
            <div class="status"></div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
              <li>
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Roca 850, Corrientes, Argentina CP 3400</p>
              </li>
  
              <li>
                <i class="fab fa-whatsapp mt-4 fa-2x"></i>
                <p>+54-379-4333815</p>
              </li>
  
              <li>
                <i class="fas fa-envelope mt-4 fa-2x"></i>
                <p>mariann1042gmail.com</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
  
        <div class="col-md-6 py-5">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.0354332672573!2d-58.82504578527801!3d-27.468156223212812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94456b5ddb8b07b3%3A0x1fe49920a0c78cb0!2sRoca%20850%2C%20W3400COA%20Corrientes!5e0!3m2!1ses-419!2sar!4v1649182345951!5m2!1ses-419!2sar"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </form>
    </section>
    <!--Section: Contact v.2-->
  </section>
  