<section>
    <div class="jumbotron jumbotron-fluid jumbo-bg-3">
      <div class="container">
        <h1 id="title" class="jumbo-title text-center">Comercialización</h1>
      </div>
    </div>
  
    <div class="container my-5">
      <div class="row d-flex align-items-center my-5 py-3">
        <div class="col-md-12">
          <h1 style="text-align: center">Para comprar</h1>
          <br />
          <h2>Formas de pago</h2>
          <p class="lead text-justify">
            Podés pagar tu compra utilizando alguna de las siguientes opciones:
          </p>
  
          <ul class="lead text-justify">
            <li>Mercado Pago.</li>
            <li>En efectivo a través de Rapipago o PagoFácil.</li>
            <li>Tarjetas de débito:</li>
            <img
              class="img-fluid mx-auto"
              src="./assets/img/tarjetadebito.png"
              alt="Modos de pago"
              width="350"
              height="250"
            />
            <li>Tarjetas de crédito (5% de recargo):</li>
            <img
              class="img-fluid mx-auto"
              src="./assets/img/tarjetacredito.png"
              alt="Modos de pago"
              width="350"
              height="250"
            />
          </ul>
  
          <h2>Retiro en la sucursal</h2>
          <p class="lead text-justify">
            Una vez realizada la compra nos comunicaremos y te enviamos los datos
            para coordinar el retiro por nuestro domicilio.
          </p>
  
          <h2>Envíos</h2>
          <p class="lead text-justify">Contamos con dos tipos de envíos:</p>
          <ul class="lead text-justify">
            <li>
              Envíos en corrientes capital. Los mismos se realizará mediante
              motomandados a cargo del comprador y se coordinará por cualquier
              medio de comunicación
            </li>
            <li>
              Envíos al interior y al resto del país. Se realiza mediante la
              plataforma de Paq.Ar la paquetería e-commerce de Correo Argentino,
              con entregas en todo el país, diseñado exclusivamente para PyMEs que
              ofrece la posibilidad de realizar envíos, hacer el seguimiento de
              los mismos y pagar, todo de forma online los 365 días del año. Si
              desea otro medio de transporte, consignarlo en el momento de la
              compra
            </li>
          </ul>
  
          <h2>Devoluciones y/o cambios</h2>
          <p class="lead text-justify">
            Los cambios y/o devoluciones comienzan a partir de la fecha de entrega
            del producto y debe realizarse dentro de los 7 días del mismo. Se
            realizarán únicamente si el producto se encuentra con fallas o no es
            lo detallado en la factura. El costo de retiro y reenvío del producto
            en caso de solicitar un cambio y/o devolución se hará responsable la
            empresa. Al comunicarse con nosotros deberás informar:
          </p>
          <ul class="lead text-justify">
            <li>Número de orden de pedido</li>
            <li>Motivo del cambio o devolución y/o cambio</li>
            <li>Nombre del producto</li>
          </ul>
          <p class="lead text-justify">
            Le informaremos por email la manera de realizar el cambio o
            devolución.
          </p>
  
          <div class="col-md-12">
            <h1 style="text-align: center">Para vender</h1>
            <br />
            <p class="lead text-justify">
              Para poder vender tu ropa contás con dos opciones:
            </p>
  
            <h2>Venta en consignación</h2>
            <p class="lead text-justify">
              Te pagamos un %50 o %60 del precio de venta a medida que se van
              vendiendo las prendas. Para esto debes traernos la ropa y las
              clasificamos si son aptas para la venta o no. Luego nos completas
              una ficha con tus datos y en un plazo de no mas de tres días te
              enviamos una lista con las predas y sus precios, con tu aprobacíon
              procedemos a etiquetar y ponerlas a punto para su venta. Si la
              cantidad de ropa es mucha podemos acordar un pago inicial a modo de
              adelanto que se descontará de las primeras ventas.
            </p>
  
            <h2>Venta por lote</h2>
            <p class="lead text-justify">
              Te pagamos en el momento un precio por un mínimo de 10 prendas, para
              esto nos mandas fotos, cantidad de prendas y precio aproximado que
              quieras recibir, evaluamos todo y te decimos cuanto podemos
              ofrecerte y si te parece bien acordamos la entrega. El precio
              promedio por prenda es menor que la modalidad anterior ya que
              corremos el risego que no se venda el lote completo
            </p>
  
            <ul class="lead text-justify">
              Te recuerdo lo que NO tomamos:
              <li>Jeans, short, polleras y pantalones tiro bajo</li>
              <li>Ropa de niños.</li>
              <li>Ropa interior</li>
              <li>Ropa manchada, sucia y/o rota.</li>
              <li>Ropa vintage o muy pasada de moda.</li>
              <li>
                Por cuestiones de espacio no tomamos ropa fuera de estación (en
                primavera no tomamos de invierno y en otoño no recibimos de
                verano)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  